@model PSSR.ServiceLayer.ActivityServices.Concrete.ActivitySortFilterPageOptions
@{

    @addTagHelper *, JqueryDataTables.ServerSide.AspNetCoreWeb
    Layout = "_SecureLayout";
    ViewData["Title"] = "Activity List";
    var demo = new PSSR.ServiceLayer.ActivityServices.ActivityListDataTableDto();
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="table-responsive no-padding style-10" id="tb-container">
                <jquery-datatables id="datatable-acList"
                                   class="table table-striped table-bordered"
                                   model="@demo"
                                   thead-class="text-center"
                                   enable-searching="true"
                                   search-row-th-class="p-0"
                                   search-input-class="form-control form-control-sm"
                                   search-input-style="width:100px"
                                   search-input-placeholder-prefix="">
                </jquery-datatables>
            </div>
        </div>
    </div>
</div>
<environment names="Development">
    <script src="~/dist/js/api/managments/desciplinePlane.js"></script>
    <script src="~/dist/js/api/activities/activityList.js"></script>
    <script src="~/dist/js/api/activities/activityDataTable.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/desciplinePlane.min.js"></script>
    <script src="~/js/activityList.min.js"></script>
    <script src="~/js/activityDataTable.min.js"></script>
</environment>

<script type='text/javascript'>

    $(document).ready(function () {
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        $(document).on('click', '.dropdown-menu', function (e) {
            e.stopPropagation();
        });

        var filterBy = '@Model.FilterBy';
        var filterValue = '@Model.FilterValue';
        var workId = '@Model.WorkPackageId';
        var locationId = '@Model.LocationId';
        var desiplineId = '@Model.DesciplineId';
        var systemId = '@Model.SystemId';
        var subSystemId = '@Model.SubSystemId';
        var workpackageStepId = '@Model.WorkPackageStepId';
        if (!parseInt(workId)) {
            workId = null;
        }
         if (!parseInt(locationId)) {
            locationId = null;
        }
         if (!parseInt(desiplineId)) {
            desiplineId = null;
        }
         if (!parseInt(systemId)) {
            systemId = null;
        }
         if (!parseInt(subSystemId)) {
            subSystemId = null;
        }
         if (!parseInt(workpackageStepId)) {
            workpackageStepId = null;
        }
        
        var wh = window.innerHeight * 0.65;
        //$('#tb-container').css('height', wh + 'px');
        activityDataTable.getActivityList(wh, filterBy, filterValue, workId,locationId,desiplineId,systemId,subSystemId,workpackageStepId);

        $('#system-type').change(function () {
            var id = $(this).val();
            if (parseInt(id) > 0) {
                getProjectSubSystems(id);
            }
        });
    })
</script>