@model PSSR.ServiceLayer.PersonService.PersonListCombinedDto
@{
    ViewData["Title"] = "Persons";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var ProjectList = new SelectList(Model.Projects, "Id", "Name");
}

<div class="row">
    <div class="col-md-4">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Person</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <partial name="_ValidationSummary" />
                <form asp-action="Persons" asp-controller="Person">
                    <!-- text input -->
                    <div class="form-group">
                        <label class="control-label required">First Name</label>
                        <input name="FirstName" type="text" class="form-control" placeholder="Enter ..." required>
                    </div>
                    <div class="form-group">
                        <label class="control-label required">Last Name</label>
                        <input name="LastName" type="text" class="form-control" placeholder="Enter ..." required>
                    </div>
                    <div class="form-group">
                        <label class="control-label required">National Id</label>
                        <input maxlength="10" name="NationalId" type="text" class="form-control" placeholder="Enter ..." required>
                    </div>
                    <div class="form-group">
                        <label class="control-label required">Mobile Number</label>
                        <input maxlength="20" name="MobileNumber" type="text" class="form-control" placeholder="Enter ..." required>
                    </div>
                    <!-- textarea -->
                    <div class="form-group">
                        <label class="control-label required">Projects</label>
                        <select class="form-control select2" name="ProjectIds" asp-items="ProjectList" multiple="multiple" data-placeholder="Select Project"
                                style="width: 100%;" required></select>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-warning pull-right">Create</button>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-success">
            <div class="option-filter">
                <form id="sort-filter-form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label class="control-label">Sort By</label>
                                <select asp-for="SortFilterPageData.OrderByOptions" name="OrderByOptions"
                                        asp-items="Html.GetEnumSelectList<PSSR.ServiceLayer.PersonService.QueryObjects.OrderByOptions>()"
                                        class="form-control sort-filter-width"
                                        onchange="BookList.sendForm(this)"></select>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Filter Type</label>
                                <select asp-for="SortFilterPageData.FilterBy" name="FilterBy"
                                        asp-items="Html.GetEnumSelectList<PSSR.ServiceLayer.PersonService.QueryObjects.PersonFilterBy>()"
                                        class="form-control sort-filter-width"
                                        onchange="BookList.filterByHasChanged(this)"></select>
                            </div>
                            <div class="col-sm-3 dim-filter-value" id="filter-value-group">
                                <label class="control-label">Filter By</label>
                                <select asp-for="SortFilterPageData.FilterValue" name="FilterValue"
                                        id="filter-value-dropdown"
                                        class="form-control sort-filter-width"
                                        disabled
                                        onchange="BookList.sendForm(this)">
                                    <option>Select filter type...</option>
                                </select>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label">Page</label>
                                <div>
                                    <input asp-for="SortFilterPageData.PageNum" name="PageNum"
                                           class="form-control page-control-width page-num-input"
                                           onchange="BookList.sendForm(this)">
                                    <span class="num-pages-text">of @Model.SortFilterPageData.NumPages</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Page&nbsp;Size</label>
                                <select asp-for="SortFilterPageData.PageSize" name="PageSize"
                                        asp-items="Model.SortFilterPageData.PageSizes.Select(x => new SelectListItem {Text = x.ToString(), Value = x.ToString()})"
                                        class="form-control page-control-width"
                                        onchange="BookList.sendForm(this)"></select>
                            </div>
                        </div>
                    </div>
                    <input id="PrevCheckState" name="PrevCheckState" type="hidden" value=@Model.SortFilterPageData.PrevCheckState>
                    @*@Html.Hidden("PrevCheckState", @Model.SortFilterPageData.PrevCheckState) -- this didn't work for some reason*@
                </form>
                <br />
            </div>

            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Person List</h3>
                                <div class="box-tools">
                                    <form method="get">
                                        <div class="input-group input-group-sm pull-left" style="padding-right:10px">

                                            <input name="PrevCheckState" type="hidden" value=@Model.SortFilterPageData.PrevCheckState>
                                            <input asp-for="SortFilterPageData.OrderByOptions" name="OrderByOptions" type="hidden">
                                            <input asp-for="SortFilterPageData.FilterBy" name="OrderByOptions" type="hidden">
                                            <input asp-for="SortFilterPageData.FilterValue" name="OrderByOptions" type="hidden">
                                            <input asp-for="SortFilterPageData.PageNum" name="PageNum" type="hidden">
                                            <input asp-for="SortFilterPageData.PageSize" name="PageSize" type="hidden">
                                            <div class="input-group input-group-sm pull-right" style="width: 150px;">
                                                <input type="text" name="QueryFilter" asp-for="SortFilterPageData.QueryFilter" class="form-control pull-right" placeholder="Search">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table fixedHeadertable table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>National Id</th>
                                            <th>Mobile Number</th>
                                            <th>Projects</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="hightable-containter">
                                        @foreach (var item in Model.PersonList)
                                        {
                                            <tr id="tr-@item.Id">
                                                <td id="td1-@item.Id">@string.Format("{0} {1}", item.FirstName, item.LastName)</td>
                                                <td>@item.NationalId</td>
                                                <td id="td2-@item.Id">@item.MobileNumber</td>
                                                <td id="td2-@item.Id">
                                                    @if (item.Projects.Any())
                                                    {
                                                        var rsult = item.Projects.Aggregate((a, b) => a + "," + b);
                                                        <p>@rsult</p>
                                                    }
                                                    else
                                                    {
                                                        <p>[N/A]</p>
                                                    }
                                                </td>
                                                <td><button type="button" class="btn btn-success btn-sm edtit-btn" id="dec-@item.Id" data-toggle="modal" data-target="#modal-default"><i class="fa fa-edit"></i></button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Person</h4>
            </div>
            <form asp-action="UpdatePerson" asp-controller="Person">
                <!-- text input -->
                <input type="hidden" id="selected-person-id" name="Id" />
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label required">First Name</label>
                        <input name="FirstName" id="fname" type="text" class="form-control" placeholder="Enter ..." required>
                    </div>
                    <div class="form-group">
                        <label class="control-label required">Last Name</label>
                        <input name="LastName" id="lname" type="text" class="form-control" placeholder="Enter ..." required>
                    </div>
                    <div class="form-group">
                        <label class="control-label required">National Id</label>
                        <input maxlength="10" id="nid" name="NationalId" type="text" class="form-control" placeholder="Enter ..." required>
                    </div>
                    <div class="form-group">
                        <label class="control-label required">Mobile Number</label>
                        <input maxlength="20" id="mobile" name="MobileNumber" type="text" class="form-control" placeholder="Enter ..." required>
                    </div>
                    <!-- textarea -->
                    <div class="form-group">
                        <label class="control-label required">Projects</label>
                        <select id="lstprojects" class="form-control select2" name="ProjectIds" asp-items="ProjectList" multiple="multiple" data-placeholder="Select Project"
                                style="width: 100%;" required></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="save-edit">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>

      document.addEventListener("DOMContentLoaded",
          function (event) {
                BookList.initialise('@Model.SortFilterPageData.FilterBy', '@Model.SortFilterPageData.FilterValue',
                    '@Url.Action("GetFilterSearchContent")');
          });

    $(document).ready(function () {
        $('.select2').select2();

         $('tr').dblclick(function () {
            var id = $(this).attr('id').split('-')[1];
            $('#modal-default').modal('show');
            showEditModel(id);
        })

        $('.edtit-btn').on('click', function () {
            var id = $(this).attr('id').split('-')[1];
            showEditModel(id);
        })

        function showEditModel(id)
        {
            $.ajax({
                type: "Get",
                url: "/APSE/Person/GetPerson?personId=" + id + "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status, jqXHR) {
                    $('#selected-person-id').val(data.id);
                    $('#fname').val(data.firstName);
                    $('#lname').val(data.lastName);
                    $('#nid').val(data.nationalId);
                    $('#mobile').val(data.mobileNumber);
                    var arr = [];
                    $.each(data.currentProjects, function (i, val) {
                         arr.push(val);
                     });

                   $('#lstprojects').val(arr).trigger('change');

                },
                error: function (jqXHR, status) {
                    console.log(jqXHR);
                }
            });
        }
          setCHeight(0.60,'hightable-containter');
    });
</script>