@model PSSR.ServiceLayer.PunchServices.PunchListCombinedDto
@{
    ViewData["Title"] = "PunchList";
    Layout = "~/Views/Shared/_SecureLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="option-filter">
                <form id="sort-filter-form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label class="control-label">Sort By</label>
                                <select asp-for="SortFilterPageData.OrderByOptions" name="OrderByOptions"
                                        asp-items="Html.GetEnumSelectList<PSSR.ServiceLayer.PunchServices.QueryObjects.OrderByOptions>()"
                                        class="form-control sort-filter-width"
                                        onchange="BookList.sendForm(this)"></select>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Filter Type</label>
                                <select asp-for="SortFilterPageData.FilterBy" name="FilterBy"
                                        asp-items="Html.GetEnumSelectList<PSSR.ServiceLayer.PunchServices.QueryObjects.PunchFilterBy>()"
                                        class="form-control sort-filter-width"
                                        onchange="BookList.filterByHasChanged(this)"></select>
                            </div>
                            <div class="col-sm-3 dim-filter-value" id="filter-value-group">
                                <label class="control-label">Filter By</label>
                                <select asp-for="SortFilterPageData.FilterValue" name="FilterValue"
                                        id="filter-value-dropdown"
                                        class="form-control sort-filter-width"
                                        disabled
                                        onchange="BookList.sendForm(this)">
                                    <option>Select filter type...</option>
                                </select>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label">Page</label>
                                <div>
                                    <input asp-for="SortFilterPageData.PageNum" name="PageNum"
                                           class="form-control page-control-width page-num-input"
                                           onchange="BookList.sendForm(this)">
                                    <span class="num-pages-text">of @Model.SortFilterPageData.NumPages</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Page&nbsp;Size</label>
                                <select asp-for="SortFilterPageData.PageSize" name="PageSize"
                                        asp-items="Model.SortFilterPageData.PageSizes.Select(x => new SelectListItem {Text = x.ToString(), Value = x.ToString()})"
                                        class="form-control page-control-width"
                                        onchange="BookList.sendForm(this)"></select>
                            </div>
                        </div>
                    </div>
                    <input id="PrevCheckState" name="PrevCheckState" type="hidden" value=@Model.SortFilterPageData.PrevCheckState>
                    <input type="hidden" name="QueryFilter" value="@Model.SortFilterPageData.QueryFilter">
                    @*@Html.Hidden("PrevCheckState", @Model.SortFilterPageData.PrevCheckState) -- this didn't work for some reason*@
                </form>
                <br />
            </div>

            <div>
                <div class="row">
                    <div class="col-xs-12">

                        <div class="box">
                            <div class="box-header">

                                <h3 class="box-title">Punch List</h3>
                                <div class="box-tools">
                                    <form asp-action="PunchList" asp-controller="ActivitPunch" method="get">
                                        <div class="input-group input-group-sm pull-left" style="padding-right:10px">
                                            <a asp-action="CreatePunch"><p class="btn btn-success">Add Punch <i class="fa fa-plus-circle"></i></p></a>

                                            <input name="PrevCheckState" type="hidden" value=@Model.SortFilterPageData.PrevCheckState>
                                            <input asp-for="SortFilterPageData.OrderByOptions" name="OrderByOptions" type="hidden">
                                            <input asp-for="SortFilterPageData.FilterBy" name="OrderByOptions" type="hidden">
                                            <input asp-for="SortFilterPageData.FilterValue" name="OrderByOptions" type="hidden">
                                            <input asp-for="SortFilterPageData.PageNum" name="PageNum" type="hidden">
                                            <input asp-for="SortFilterPageData.PageSize" name="PageSize" type="hidden">

                                            <div class="input-group input-group-sm pull-right" style="width: 150px;">
                                                <input type="text" name="QueryFilter" asp-for="SortFilterPageData.QueryFilter" class="form-control pull-right" placeholder="Search">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>

                                            </div>

                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table fixedHeadertable table-hover">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Task Code</th>
                                            <th>Type</th>

                                            <th>Orginated By</th>
                                            <th>Orginated Date</th>
                                            <th>Corective Action</th>
                                            <th>Clear By</th>
                                            <th>Clear Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="style-10" id="hightable-containter">
                                        @foreach (var item in Model.PunchList)
                                        {
                                        <tr>
                                            <td>@item.Code</td>
                                            <td>@item.ActivityCode</td>
                                            <td>@item.Type</td>

                                            <td>@item.OrginatedBy</td>
                                            <td>@item.OrginatedDate</td>
                                            <td>@item.CorectiveAction</td>
                                            <td>@item.CheckBy</td>
                                            <td>@item.ClearDate</td>
                                            <td><a href="@Url.Action("EditPunch", "ActivityPunch",new { id =item.Id})"><p class="btn btn-success edtit-btn btn-sm"><i class="fa fa-reorder"></i></p></a></td>
                                        </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
      document.addEventListener("DOMContentLoaded",
          function (event) {
                BookList.initialise('@Model.SortFilterPageData.FilterBy', '@Model.SortFilterPageData.FilterValue',
                    '@Url.Action("GetFilterSearchContent")');
          });

    $(document).ready(function () {
       
        setCHeight(0.6, 'hightable-containter');
        setfixedHeadr(9);
    })
</script>

