@model PSSR.ServiceLayer.ActivityServices.ActivityListDetailsDto
@{

    var desciplines = new SelectList(ViewBag.Desciplines, "Id", "Title");
    var ValueUnits = new SelectList(ViewBag.valueUnits, "Id", "Name");

    var workPackages = new SelectList(ViewBag.WorkPackages, "Id", "Title");
    var Locations = new SelectList(ViewBag.Locations, "Id", "Title");
    var Systems = new SelectList(ViewBag.Systems, "Id", "Title");

    string methodName = ViewBag.MethodName;
}

    <form role="form" asp-action="@methodName" asp-controller="Activity">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Condition" />
        <!-- text input -->
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label required">Task Code</label>
                <input class="form-control" id="ac-Code" asp-for="ActivityCode"
                       style="width: 100%;" />
            </div>

            <div class="form-group">
                <label class="control-label required">Work Packages</label>
                <select asp-items="workPackages" asp-for="WorkPackageId" id="select-workpackage" class="form-control select2"
                        data-placeholder="Select work packages"
                        style="width: 100%;" required></select>
            </div>

            <div class="form-group">
                <label class="control-label required">Work Package Step</label>
                <select asp-for="WorkPackageStepId" id="select-workpackageStep" class="form-control select2"
                        data-placeholder="Select work package step"
                        style="width: 100%;" required></select>
            </div>

            <div class="form-group">
                <label class="control-label required">Location</label>
                <select asp-items="Locations" id="select-location" asp-for="LocationId" class="form-control select2"
                        data-placeholder="Select location"
                        style="width: 100%;" required></select>
            </div>

            <div class="form-group">
                <label class="control-label required">System</label>
                <select asp-for="SystemdId" asp-items="Systems" class="form-control select2"
                        data-placeholder="Select system" id="select-system"
                        style="width: 100%;" required></select>
            </div>

            <div class="form-group">
                <label class="control-label required">SubSystem</label>
                <select asp-for="SubsytemId" class="form-control select2"
                        data-placeholder="Select subSystem" id="select-subSystem"
                        style="width: 100%;" required></select>
            </div>

            <div class="form-group">
                <label class="control-label required">Descipline</label>
                <select asp-items="desciplines" asp-for="DesciplineId" class="form-control select2"
                        data-placeholder="Select Descipline" id="select-descipline"
                        style="width: 100%;" required></select>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label required">Form Code</label>
                <select asp-for="FormDictionaryId" class="form-control select2"
                        data-placeholder="Select form code" id="select-formCode"
                        style="width: 100%;" required></select>
            </div>

            <div class="form-group">
                <label>Form Type</label>
                <input class="form-control" id="form-type-input"
                       style="width: 100%;" disabled />
            </div>

            <div class="form-group">
                <label>Form Description</label>
                <input class="form-control" id="form-description-input"
                       style="width: 100%;" disabled />
            </div>

            <div class="form-group">
                <label class="control-label required">Tag Number</label>
                <input asp-for="TagNumber" min="1" class="form-control" placeholder="Enter ..." required>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label>Tag Description</label>
                    <input type="text" asp-for="TagDescription" class="form-control" placeholder="Enter ..." />
                </div>
            </div>

            <!-- textarea -->
            @*<div class="form-group">
            <label>Weight Factor</label>
            <input asp-for="WeightFactor" class="form-control" rows="3" placeholder="Enter ..." required />
        </div>*@

            <div class="form-group">
                <label class="control-label required">Estimate Mh</label>
                <input asp-for="EstimateMh" min="1" class="form-control" placeholder="Enter ..." required>
            </div>

            <div class="form-group">
                <label>Actual Mh</label>
                <input asp-for="ActualMh" min="0" class="form-control" placeholder="Enter ...">
            </div>

            @*<div class="form-group">
            <label>Presentation</label>
            <input asp-for="Presentation" class="form-control" placeholder="Enter ...">
        </div>*@

        </div>

      
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label required">Value Unit</label>
                <select asp-items="ValueUnits" asp-for="ValueUnitId" class="form-control select2"
                        data-placeholder="Select Value Unit" id="select-valueUnit"
                        style="width: 100%;" required></select>
            </div>
            <div class="form-group">
                <label class="control-label required">Value Unit Num</label>
                <input asp-for="ValueUnitNum" type="number" min="1" class="form-control" placeholder="Enter ..." required />
            </div>


            <div class="form-group">
                <label>Actual StartDate:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input asp-for="ActualStartDate" type="text" class="form-control pull-right datepicker">
                </div>
                <!-- /.input group -->
            </div>

            <div class="form-group">
                <label>Actual EndDate:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input asp-for="ActualEndDate" type="text" class="form-control pull-right datepicker">
                </div>
                <!-- /.input group -->
            </div>

            <div class="form-group">
                <label>Plan StartDate:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input asp-for="PlanStartDate" type="text" class="form-control pull-right datepicker">
                </div>
                <!-- /.input group -->
            </div>

            <div class="form-group">
                <label>Plan EndDate:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input asp-for="PlanEndDate" type="text" class="form-control pull-right datepicker">
                </div>
                <!-- /.input group -->
            </div>
            @if (Model.Status == PSSR.Common.ActivityStatus.NotStarted)
            {
                <div class="box-footer">
                    <a href="@Url.Action("ActivityList","Activity")"><p class="btn btn-warning pull-right">Back To List</p></a>
                    <button type="submit" class="btn btn-info pull-right" style="margin-right:5px">Save</button>
                </div>
            }

        </div>
    </form>

<script type="text/javascript">
    $(document).ready(function () {
        
          $('.datepicker').datepicker({
            autoclose: true
          });
        var wId = '@Model.WorkPackageId';
        var desId = '@Model.DesciplineId';
        var systemid = '@Model.SystemdId';
        var subSystemId = '@Model.SubsytemId';
        var formId = '@Model.FormDictionaryId';

        if (wId <= 0) {
            $('#select-workpackage').append("<option value='0' selected disabled>...Please Select Work Package...</option>");
            $('#select-workpackageStep').append("<option value='0' selected disabled>...Please Select WorkPackage Step...</option>");
            $('#select-descipline').append("<option value='0' selected disabled>...Please Select Descipline...</option>");
              $('#select-system').append("<option value='0' selected disabled>...Please Select System...</option>");
        }
        else {
            getrelatedWorkStep(wId);
            getRelatedDesciplineForms(desId);
             getrelatedSubSystem(systemid);
        }
       
         var desId= $('#select-descipline').val();
        //getRelatedDesciplineForms(desId);
        
         var systemId= $('#select-system').val();
         //getrelatedSubSystem(desId);
    
       
         $('.select2').select2();

          $('#select-workpackage').on("select2:select", function (e) {
              var val = $(this).val();
              getrelatedWorkStep(val);
          });

        $('#select-descipline').on("select2:select", function (e) {
            var val = $(this).val();
            getRelatedDesciplineForms(val);
        });

         $('#select-system').on("select2:select", function (e) {
            var val = $(this).val();
            getrelatedSubSystem(val);
         });

         $('#upload-file').on('click', function () {
            var formData = new FormData();
            formData.append('file', $('#files')[0].files[0]);
            $('#modal-default-overlay').modal('show');

            $.ajax({
                type: "Post",
                url: "/APSE/Activity/UploadExcel",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data, status, jqXHR) {
                    $('#modal-default-overlay').modal('toggle');
                    if (data.key == 200) {
                        $('#modal1').modal('toggle');
                        location.reload();
                    }
                    else {
                        $('#global-error-message').html(data.value);
                        $('#modal-danger').modal('show');
                    }
                },
                error: function (jqXHR, status) {
                    console.log(jqXHR);
                }
            });
         });

        function getRelatedDesciplineForms(id) {
            $("#select-formCode").empty();
            $('#form-type-input').val("");
             $('#form-description-input').val("");

            $.ajax({
                type: "Get",
                url: "/APSE/FormDictionary/GetFormsByDescipline?desciplineId=" + id,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data, status, jqXHR) {
                     
                    $.each(data, function (i, val) {
                        if (val.id == formId) {
                           $('#form-type-input').val(getLeverTypeString(val.type));
                           $('#form-description-input').val(val.description);
                           $("#select-formCode").append("<option data-desc=" + val.description + " data-type=" + val.type + "  value=" + val.id + " selected>" + val.code + "</option>");
                        }
                        else {
                            if (i == 0) {
                                $('#form-type-input').val(getLeverTypeString(val.type));
                                $('#form-description-input').val(val.description);
                            }

                           $("#select-formCode").append("<option data-desc=" + val.description + " data-type=" + val.type + "  value=" + val.id + ">" + val.code + "</option>");
                        }
                     
                    });
                },
                error: function (jqXHR, status) {
                    console.log(jqXHR);
                }
            });
        }

        function getrelatedSubSystem(id) {
            $("#select-subSystem").empty();

            $.ajax({
                type: "Get",
                url: "/APSE/SubSystem/GetSubSystemBySystem?systemId=" + id,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data, status, jqXHR) {
                    $.each(data, function (i, val) {
                        if (val.id == subSystemId) {
                              $("#select-subSystem").append("<option value=" + val.id + " selected>" + val.code + "</option>");
                        }
                        else {
                              $("#select-subSystem").append("<option value=" + val.id + ">" + val.code + "</option>");
                        }
                      
                    });
                },
                error: function (jqXHR, status) {
                    console.log(jqXHR);
                }
            });
        }

        function getrelatedWorkStep(id) {
            $("#select-workpackageStep").empty();

            $.ajax({
                type: "Get",
                url: "/APSE/WorkPackageStep/GetWorkPackageStepByWorkPackage?wid=" + id,
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (data, status, jqXHR) {
                    $.each(data, function (i, val) {
                        $("#select-workpackageStep").append("<option value=" + val.id + ">" + val.title + "</option>");
                    });
                },
                error: function (jqXHR, status) {
                    console.log(jqXHR);
                }
            });
        }

        $('#select-formCode').on("select2:select", function (e) {
            var val = parseInt($('option:selected', this).attr('data-type'));
            var desc = $('option:selected', this).attr('data-desc');

            $('#form-type-input').val(getLeverTypeString(val));
            $('#form-description-input').val(desc);
        });

        function getLeverTypeString(level) {
            var str = "";
            switch (level) {
                case 1:
                    str = 'Test';
                    break;
                case 2:
                    str = 'Check';
                    break;
            }
            return str;
        }
    });
</script>

