@model PSSR.ServiceLayer.ProjectServices.ProjectListCombinedDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Project";
    var ContractorList = new SelectList(Model.Contractors, "Id", "Name");
}

<div class="row">
    <div class="col-md-4">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Project</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <partial name="_ValidationSummary" />
                <form asp-action="CreateProject" asp-controller="Project">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Name</label>
                        <input name="Description" class="form-control" rows="3" placeholder="Enter ..." />
                    </div>

                    <div class="form-group">
                        <label>Start Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input name="StartDate" type="text" class="form-control pull-right datepicker">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>End Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input name="EndDate" type="text" class="form-control pull-right datepicker">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label required">Type</label>
                        <select class="form-control select2" name="Type" asp-items="Html.GetEnumSelectList<PSSR.Common.ProjectType>()" data-placeholder="Select Project"
                                style="width: 100%;" required></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label required">Contractor</label>
                        <select class="form-control select2" name="ContractorId" asp-items="ContractorList" data-placeholder="Select Project"
                                style="width: 100%;" required></select>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-warning pull-right">Create</button>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-success">
            <div class="option-filter">
                <form id="sort-filter-form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label class="control-label">Sort By</label>
                                <select asp-for="SortFilterPageData.OrderByOptions" name="OrderByOptions"
                                        asp-items="Html.GetEnumSelectList<PSSR.ServiceLayer.ProjectServices.QueryObjects.ProjectOrderByOptions>()"
                                        class="form-control sort-filter-width"
                                        onchange="BookList.sendForm(this)"></select>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Filter Type</label>
                                <select asp-for="SortFilterPageData.FilterBy" name="FilterBy"
                                        asp-items="Html.GetEnumSelectList<PSSR.ServiceLayer.ProjectServices.QueryObjects.ProjectFilterBy>()"
                                        class="form-control sort-filter-width"
                                        onchange="BookList.filterByHasChanged(this)"></select>
                            </div>
                            <div class="col-sm-3 dim-filter-value" id="filter-value-group">
                                <label class="control-label">Filter By</label>
                                <select asp-for="SortFilterPageData.FilterValue" name="FilterValue"
                                        id="filter-value-dropdown"
                                        class="form-control sort-filter-width"
                                        disabled
                                        onchange="BookList.sendForm(this)">
                                    <option>Select filter type...</option>
                                </select>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label">Page</label>
                                <div>
                                    <input asp-for="SortFilterPageData.PageNum" name="PageNum"
                                           class="form-control page-control-width page-num-input"
                                           onchange="BookList.sendForm(this)">
                                    <span class="num-pages-text">of @Model.SortFilterPageData.NumPages</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Page&nbsp;Size</label>
                                <select asp-for="SortFilterPageData.PageSize" name="PageSize"
                                        asp-items="Model.SortFilterPageData.PageSizes.Select(x => new SelectListItem {Text = x.ToString(), Value = x.ToString()})"
                                        class="form-control page-control-width"
                                        onchange="BookList.sendForm(this)"></select>
                            </div>
                        </div>
                    </div>
                    <input id="PrevCheckState" name="PrevCheckState" type="hidden" value=@Model.SortFilterPageData.PrevCheckState>
                    @*@Html.Hidden("PrevCheckState", @Model.SortFilterPageData.PrevCheckState) -- this didn't work for some reason*@
                </form>
                <br />
            </div>

            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Project List</h3>
                                <div class="box-tools">
                                    <form method="get">
                                        <div class="input-group input-group-sm pull-left" style="padding-right:10px">

                                            <input name="PrevCheckState" type="hidden" value=@Model.SortFilterPageData.PrevCheckState>
                                            <input asp-for="SortFilterPageData.OrderByOptions" name="OrderByOptions" type="hidden">
                                            <input asp-for="SortFilterPageData.FilterBy" name="OrderByOptions" type="hidden">
                                            <input asp-for="SortFilterPageData.FilterValue" name="OrderByOptions" type="hidden">
                                            <input asp-for="SortFilterPageData.PageNum" name="PageNum" type="hidden">
                                            <input asp-for="SortFilterPageData.PageSize" name="PageSize" type="hidden">
                                            <div class="input-group input-group-sm pull-right" style="width: 150px;">
                                                <input type="text" name="QueryFilter" asp-for="SortFilterPageData.QueryFilter" class="form-control pull-right" placeholder="Search">
                                                <div class="input-group-btn">
                                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table fixedHeadertable table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Contractor</th>
                                            <th>Type</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="hightable-containter">
                                        @foreach (var item in Model.ProjectList)
                                        {
                                            <tr id="@item.Id">
                                                <td>@item.Description</td>
                                                <td>@item.ContractorName</td>
                                                <td>@item.Type</td>
                                                <td>
                                                    @item.StartDate
                                                </td>
                                                <td>
                                                    @item.EndDate
                                                </td>
                                                <td><button type="button" class="btn btn-success btn-sm edtit-btn" id="@item.Id" data-toggle="modal" data-target="#modal-default"><i class="fa fa-edit"></i></button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Project</h4>
            </div>
            <form asp-action="UpdateProject" asp-controller="Project">
                <!-- text input -->
                <input type="hidden" id="selected-project-id" name="Id" />
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input id="name" name="Description" class="form-control" rows="3" placeholder="Enter ..." />
                    </div>

                    <div class="form-group">
                        <label>Start Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input id="stDate" name="StartDate" type="text" class="form-control pull-right datepicker">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>End Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input id="endate" name="EndDate" type="text" class="form-control pull-right datepicker">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="save-edit">Save changes</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
     document.addEventListener("DOMContentLoaded",
          function (event) {
                BookList.initialise('@Model.SortFilterPageData.FilterBy', '@Model.SortFilterPageData.FilterValue',
                    '@Url.Action("GetFilterSearchContent")');
            });
    $(document).ready(function () {
          $('.datepicker').datepicker({
            autoclose: true
        });

        $('.select2').select2();

        $('tr').dblclick(function () {
            var id = $(this).attr('id');
            $('#modal-default').modal('show');
            showEditModel(id);
        })

        $('.edtit-btn').on('click', function () {
            var id = $(this).attr('id');
            showEditModel(id);
        })

        function showEditModel(id) {
            $.ajax({
                type: "Get",
                url: "/APSE/Project/GetProject?projectId=" + id + "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status, jqXHR) {
                    $('#selected-project-id').val(data.id);
                    $('#name').val(data.description);

                    $('#stDate').datepicker("setDate",data.startDate);
                    $('#endate').datepicker("setDate",data.endDate);
                },
                error: function (jqXHR, status) {
                    console.log(jqXHR);
                }
            });
        }
    setCHeight(0.60,'hightable-containter');
    });
</script>
