@model List<IdentityServer4.Models.Client>
@{
    ViewData["Title"] = "ClientList";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

    <div class="col-sm-12 grid-margin d-flex stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Client List</h4>
                <div class="table-responsive">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <table class="table table-hover">
                        <thead> <tr><th>Name</th><th>Description</th><th>Enabled</th><th></th><th></th><th></th></tr></thead>
                        @if (Model.Count() == 0)
                        {
                            <tr><td colspan="6" class="text-center">Not any Client</td></tr>
                        }
                        else
                        {
                            foreach (var client in Model)
                            {
                                <tr>
                                    <td>@client.ClientName</td>
                                    <td>@client.Description</td>
                                    <td>@client.Enabled</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" asp-action="EditClient"
                                           asp-route-clientId="@client.ClientId">Edit</a>
                                    </td>
                                    @if (client.Enabled)
                                    {
                                        <td>
                                            <form asp-action="DisableClient" asp-route-clientId="@client.ClientId" method="post">
                                                <button type="submit"
                                                        class="btn btn-sm btn-warning">
                                                    Disable
                                                </button>
                                            </form>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <form asp-action="EnableClient" asp-route-clientId="@client.ClientId" method="post">
                                                <button type="submit"
                                                        class="btn btn-sm btn-success">
                                                    Enable
                                                </button>
                                            </form>
                                        </td>
                                    }

                                    <td>
                                        <form asp-action="DeleteClient" asp-route-clientId="@client.ClientId" method="post">
                                            <button type="submit"
                                                    class="btn btn-sm btn-danger">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                    <a class="btn btn-primary" asp-action="CreateClient" asp-controller="Client">Create</a>
                </div>
            </div>
        </div>
    </div>


