@model Tuple<int,int, bool>
@{
    ViewData["Title"] = "SummaryReport";
    Layout = "~/Views/Shared/_SecureLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- Widget: user widget style 1 -->
        <div class="box">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="box-header" style="height:40px">
                <div class="box-tools right" style="left:10px;">
                    <div class="col-md-3">
                        <div class="pull-left">
                            <label class="control-label">WorkPackage:</label>
                        </div>
                        &nbsp;
                        <div class="pull-left">
                            <select id="workPackage-type" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pull-left">
                            <label class="control-label">Location:</label>
                        </div>
                        &nbsp;
                        <div class="pull-left">
                            <select id="location-type" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div>Date : @DateTime.Now.ToString("dddd, dd MMMM yyyy HH:MM:ss")</div>
                    </div>
                    @*<div class="col-md-3">
            <div class="form-group">
                <label>
                    <input type="radio" name="gender" class="flat-red wbsTypesch" id="rp-1001">
                    Acutual Report
                </label>
                &nbsp;
                <label>
                    <input type="radio" name="gender" class="flat-red wbsTypesch" id="rp-1002">
                    Plan Report
                </label>
            </div>
        </div>*@
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <div data-pathUrl="@Url.Action("WorkPackageDetails","Dashboard")" id="tab-body">
                        <div>
                            <div  style="overflow-y:scroll;overflow-x:hidden" class="box  box-warning style-10" id="tab_report">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<environment names="Development">
    <script src="~/dist/js/api/dashbords/projectDashboard.js"></script>
    <script src="~/dist/js/api/reports/workPackageReport.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/projectDashboard.min.js"></script>
    <script src="~/js/workPackageReport.min.js"></script>
</environment>


<script type='text/javascript'>
    $(document).ready(function () {

         $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
         });

        $('#rp-1001').iCheck('check');

        var wId = '@Model.Item1';
        var isPlan = '@Model.Item3';
        var locId = '@Model.Item2';

        projectDashboard.initWorkPakcageDropDown(wId,locId);

        if (parseInt(wId) > 0 && parseInt(locId)>0)
        {
            workPackageReport.getWorkPackageContent(wId, locId);
        }

         $('#location-type').change(function ()
         {
            var txt = $('#workPackage-type').find('option:selected').text();
             var id =$('#workPackage-type').find('option:selected').val();
             var locIdc = $(this).val();
             
            if (parseInt(id) > 0)
            {
                workPackageReport.getWorkPackageContent(id, locIdc);
                if (txt === 'Commissioning')
                {
                     workPackageReport.getWorkPackageWrokStepReport(id, locIdc);
                }
                else {
                     workPackageReport.getWorkPackageDesciplineReport(id, locIdc);
                }

               workPackageReport.getSystemWorkPackageReport(id, locIdc);
            }
         });

         $('#workPackage-type').change(function ()
         {
            var txt = $('#workPackage-type').find('option:selected').text();
             var locIdc =$('#location-type').find('option:selected').val();
             var id = $(this).val();
             
            if (parseInt(id) > 0)
            {
                workPackageReport.getWorkPackageContent(id, locIdc);
                if (txt === 'Commissioning')
                {
                     workPackageReport.getWorkPackageWrokStepReport(id, locIdc);
                }
                else {
                     workPackageReport.getWorkPackageDesciplineReport(id, locIdc);
                }

               workPackageReport.getSystemWorkPackageReport(id, locIdc);
            }
         });
       
    setCHeight(0.80, 'tab_report');
    });
</script>